{% extends 'base.html.twig' %}

{% block title %}Famille{% endblock %}

{% block body %}
    <h1>Famille</h1>

    {% if is_granted('headFamily', famille) %}
        <div class="row m-3">
            <div class="col-3 text-center">
                <a href="{{ path('app_famille_edit', {'id': famille.id}) }}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
            </div>
            <div class="col-3 text-center">
                <a href="{{ path('app_famille_delete', {'id': famille.id}) }}" class="btn btn-danger"><i class="fas fa-eraser"></i></a>
            </div>
            <div class="col-3 text-center">
                <a href="#" class="btn btn-success"><i class="fas fa-user-plus"></i></a>
            </div>
            <div class="col-3 text-center">
                <a href="#" class="btn btn-info"><i class="fas fa-tasks"></i></a>
            </div>
        </div>
    {% endif %}

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ famille.name }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ famille.adresse }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ famille.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ famille.ville }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ famille.pays }}</td>
            </tr>
            <tr>
                <th>Membres</th>
                <td>
                    {% for user in famille.users %}
                        {{ user.realUsername }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
    {% if is_granted('headFamily', famille) %}

    {% endif %}
{% endblock %}
