{% extends 'base.html.twig' %}

{% block title %}Resultat{% endblock %}

{% block body %}
    <h1>Résultat</h1>
    <form action="{{ path('app_home_findbarcode') }}" method="get">
        <input type="number" id="codebar" name="codebar" placeholder="Votre code bar" value="{{ codebar }}">
        <input type="submit" value="Chercher" class="btn btn-success">
        <a href="{{ path('app_product_scanner') }}" class="btn btn-danger"><i class="fas fa-barcode"></i> Scanner à nouveau</a>
    </form>
    <div class="accordion mb-4 mt-4" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Résultat
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    {% if nameProduct %} {{ nameProduct }} {% endif %}
                    {% if pathImage %} <img src="{{ pathImage }}" alt="">{% endif %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Formulaire d'ajout
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div id="formAddProduct" class="card-body">
                    {{ form_start(form) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.pays) }}
                        {{ form_row(form.image) }}
                        {{ form_row(form.ean) }}
                        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <div id="toJs" data-show-result="{{ needToSetQuantity ? true : false }}"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var toJs = document.getElementById('toJs');
        var needToShowResult = Boolean(toJs.dataset.showResult);
        console.log(needToShowResult);
        if (needToShowResult === true){
            var divForm = document.getElementById('formAddProduct');
            var card = document.getElementById('collapseTwo');
            var modalQuantity = "<form action='{{ path('app_product_setquantity') }}' method='post'><label for='quantityProduct'>Quantité</label><input id='quantityProduct' name='quantityProduct' type='number' min='0' value='1' autofocus required><input type='hidden' name='hiddenCodeBar' value='{{ codebar }}'><div class=\"form-check form-check-inline m-1\">\n" +
                    "  <input class=\"form-check-input\" type=\"radio\" name=\"quantityRadio\" id=\"addToStockRadio\" value=\"addToStock\" checked>\n" +
                    "  <label class=\"form-check-label\" for=\"addToStockRadio\">\n" +
                    "    Ajouter aux stocks\n" +
                    "  </label>\n" +
                    "</div>\n" +
                    "<div class=\"form-check form-check-inline m-1\">\n" +
                    "  <input class=\"form-check-input\" type=\"radio\" name=\"quantityRadio\" id=\"overwriteQuantityRadio\" value=\"overwriteQuantity\">\n" +
                    "  <label class=\"form-check-label\" for=\"overwriteQuantityRadio\">\n" +
                    "    Ecraser la quantité\n" +
                    "  </label>\n" +
                    "</div><div class=\"form-check form-check-inline m-1\">\n" +
                    "  <input class=\"form-check-input\" type=\"radio\" name=\"quantityRadio\" id=\"removeQuantityRadio\" value=\"removeQuantity\">\n" +
                    "  <label class=\"form-check-label\" for=\"removeQuantityRadio\">\n" +
                    "    Enlever des stocks\n" +
                    "  </label>\n" +
                    "</div><input type='submit' class='btn btn-success'></form>";

            card.classList.add('show');
            divForm.classList.remove('collapsed');
            divForm.innerHTML = modalQuantity;
        }
    </script>
{% endblock %}
