{% extends 'base.html.twig' %}

{% block title %}Vos produits{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('searchBarName') }}
{% endblock %}

{% block body %}
	<h1>Vos produits en stock</h1>
	{{ render(controller('App\\Controller\\ProductController::searchBar')) }}
	<a href="{{ path('app_product_productsoffamille') }}" class="btn btn-outline-secondary">Tout afficher</a>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">EAN</th>
				<th scope="col">Nom</th>
				<th scope="col">Quantite</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for produitFamille in produitFamilles %}
				<tr>
					<th scope="row">{{ produitFamille.produit.ean }}</th>
					<td>{{ produitFamille.produit.name }}</td>
					<td>{{ produitFamille.quantite }}</td>
					<td>
						<a href="{{ path('app_product_incquantity', {'id': produitFamille.id}) }}" class="text-success" ><i class="fas fa-plus-square fa-lg"></i></a>
						<a href="{{ path('app_product_decquantity', {'id': produitFamille.id}) }}" class="text-danger"><i class="fas fa-minus-square fa-lg"></i></a>
						<a href="{{ path('app_product_removeproduit', {'id': produitFamille.id}) }}" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('searchBarName') }}
{% endblock %}
